<html>
    <head>
        <title> Invoice Program </title>
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/indexStyles.css')}}">
    <body onload="onLoad()">
        <header>
            <h1>Invoice Program</h1>
        </header>
        
        <div class="tab">
            <button class="tablink" onclick="openTab(event, 'create')">Invoice Creation</button>
            <button class="tablink" onclick="openTab(event, 'summary')">Summary of Invoices</button>
        </div>

        <div id="create" class="tabcontent" style="display:block">
            Invoice Creation Test
            <form action="create" method="GET" enctype="multipart/form-data">
                <div id = "Season">
                    <label for="season">Season</label>
                    <!-- Will add a function to populate seasons based on what invoice template exists -->
                    <select name = "season">
                        <option value = "2019-2020">2019-2020</option>
                        <option value = "2020-2021">2020-2021</option>
                    </select>
                </div>
                <div id = "Month">
                    <!-- Function addMonthOptions() adds options for dropdown -->
                    <label for="month">Season</label>
                    <select name = "month" id="monthDropDown">
                    </select>
                </div>
                <div id = "Name">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="" placeholder="Name of Coach" required>
                </div>
                <div id = "Rate">
                    <label for="rate">Hourly Rate</label>
                    <input type="number" name="rate" value="" placeholder="Hourly Rate" required>
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>

        <div id="summary" class="tabcontent">
            Summary of Invoices Test
        </div>
    </body>

    <script src="{{ url_for('static', filename='js/indexScript.js')}}"></script>
</html>