<html>
    <head>
        <title> Invoice Program </title>
        <script src="{{ url_for('static', filename='js/indexScript.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename='js/graph.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            months = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
            headerRow = ['Month', 'PreCanskate (PCS)', 'Canskate (CS)', 'Funzone (FZ)', 'Novice (NV)', 'Junior (JR)', 'Performance Enrichment Program (PEP)', 'Adult (AD)', 
                            'Power Skate (PW)', 'Stroking (ST)', 'Canskate - Circuit Drawing (CIR)', 'Pre-Canskate/Canskate - Report Card (RPT)', 'Intermediate (IN)', 'Hours']
            var seasonArray = ["2019-2020","2020-2021","2021-2022","2022-2023"]
        </script>
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/indexStyles.css')}}">
    <body onload="onLoad()">
        <header onClick="window.location.href='{{url_for('home')}}'">
            <h1>Invoice Program</h1>
        </header>
        <div id = "main">
            <!-- After creating invoice, notification on successful creation will show (will provide download link to the invoice itself) -->
            <div class = "notification" style="display:none">
                <a id="invoice"></a>
            </div>

            <div class="tab">
                <button id = "createButton" class="tablink active" onclick="openTab(event, 'create')">Invoice Creation</button>
                <button id = "importButton" class="tablink" onclick="openTab(event, 'import')">Import Invoice</button>
                <button id = "summaryButton" class="tablink" onclick="openTab(event, 'summary')">Summary of Invoices</button>
            </div>
    
            <div id="create" class="tabcontent" style="display:block">
                <div id = 'form'>
                    <div id = "SeasonDiv">
                        <label for="season">Season</label>
                        <!-- Will add a function to populate seasons based on what invoice template exists -->
                        <select name = "season" required id = "season" onchange="onChange()">
                            <option value ="" selected disabed hidden>Select a season</option>
                            <option value = "2019-2020">2019-2020</option>
                            <option value = "2020-2021">2020-2021</option>
                            <option value = "2021-2022">2021-2022</option>
                            <option value = "2022-2023">2022-2023</option>
                        </select>
                    </div>
                    <div id = "Month">
                        <!-- Function addMonthOptions() adds options for dropdown -->
                        <label for="month">Month</label>
                        <select name = "month" id="monthDropDown" required onchange="onChange()">
                        </select>
                    </div>
                    <div id = "Name">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="" placeholder="Name of Coach" required oninvalid="this.setCustomValidity('test')" oninput="this.setCustomValidity('')"> 
                    </div>
                    <div id = "Rate">
                        <label for="rate">Hourly Rate</label>
                        <input type="number" name="rate" value="" placeholder="Hourly Rate" required>
                    </div>
    
                    <div id = "Comments">
                        <label for="comments">Comments</label>
                        <textarea name="comments" id="comments" rows="4" cols="50" style="white-space: pre-wrap"></textarea>
                    </div>
                    <div id = "List-Of-Sessions">
                        <div id = "day0" class = "sessionDay" style="position: relative;">
                            <span>
                                <input type="date" name="date-of-session" class = "dateSelection" required>
                            </span>
                            <span id="AddSession0">
                                <input type="button" name="add-session" value = "Add Session" onclick="addSession('0')">
                            </span>
                            <div class = "day0">
                                <span>
                                    <select name = "session-type" class = "sessionSelect0 sessionSelect" required>
                                        <option value="" selected disabled hidden>Select Session</option>
                                        <option value="PCS">Pre-Canskate (PCS)</option>
                                        <option value="CS" >Canskate (CS)</option>
                                        <option value="FZ" class = "FZ">Fun Zone (FZ)</option>
                                        <option value="IN" class = "IN" disabled hidden>Intermediate (IN)</option>
                                        <option value="NV" class = "NV">Novice (NV)</option>
                                        <option value="JR" class = "JR">Junior (JR)</option>
                                        <option value="PEP">Performance Enrichment Program (PEP)</option>
                                        <option value="AD">Adult (AD)</option>
                                        <option value="PW">Power (PW)</option>
                                        <option value="ST">Stroking (ST)</option>
                                        <option value="CIR" class = "CIR">Canskate - Circuit Drawing (CIR)</option>
                                        <option value="RPT" class = "RPT">Pre-Canskate/Canskate - Report Card (RPT)</option>
                                    </select>
                                </span>
                                <span>
                                    <input type="number" name="session-amount" placeholder="Number of Sessions" class = "sessionAmount0" required>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- addSession() on button adds new div to add new sessions. each new session div will have a delete button that will delete the created session div -->
                    <div id="AddDay">
                        <input type="button" name="add-day" value = "Add Day" onclick="addDay()">
                    </div>
                    <div>
                        <input type="submit" value="Submit" onclick="submitForm()">
                    </div>
                </div>
            </div>
    
            <div id="summary" class="tabcontent">
                <button onclick="seasonDropDown('2019-2020')" class="dropdownbtn">2019-2020</button>
                <div id = "2019-2020" class="seasonDropdown" display="none">
                    <br>
                    <div class="seasonTable"></div>
                    <br>
                    <canvas class = "graph"></canvas>
                    <br>Links to Invoices:<br>
                    <div class="monthInformation"></div>
                </div>
                <button onclick="seasonDropDown('2020-2021')" class="dropdownbtn">2020-2021</button>
                <div id = "2020-2021" class="seasonDropdown" display="none">
                    <br>
                    <div class="seasonTable"></div>
                    <br>
                    <canvas class = "graph"></canvas>
                    <br>Links to Invoices:<br>
                    <div class="monthInformation"></div>
                </div>
                <button onclick="seasonDropDown('2021-2022')" class="dropdownbtn">2021-2022</button>
                <div id = "2021-2022" class="seasonDropdown" display="none">
                    <br>
                    <div class="seasonTable"></div>
                    <br>
                    <canvas class = "graph"></canvas>
                    <br>Links to Invoices:<br>
                    <div class="monthInformation"></div>
                </div>
                <button onclick="seasonDropDown('2022-2023')" class="dropdownbtn">2022-2023</button>
                <div id = "2022-2023" class="seasonDropdown" display="none">
                    <br>
                    <div class="seasonTable"></div>
                    <br>
                    <canvas class = "graph"></canvas>
                    <br>Links to Invoices:<br>
                    <div class="monthInformation"></div>
                </div>
            </div>
        </div>
                
        <div id ="import" class = "tabcontent">
            Import Invoice
            <div>            
                <form id="import-invoice" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="inputInvoice">Select an invoice:</label>
                        <input type="file" id="inputInvoice" name="inputInvoice" accept=".xlsx">
                    </div>
                    <div>
                        <input type="button" value="Submit" id = "upload-file-submit" onclick="uploadInvoice()">
                    </div>
                </form>
            </div>
            <div id="importInfo">
                
            </div>
            <div id = "calDiv">
            </div>
            
        </div>
    </body>
</html>