<html>
    <head>
        <title> Invoice Program </title>
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/indexStyles.css')}}">
    <body>
        <header>
            <h1>Invoice Program</h1>
        </header>
        
        <div class="tab">
            <button class="tablink" onclick="openTab(event, 'create')">Invoice Creation</button>
            <button class="tablink" onclick="openTab(event, 'summary')">Summary of Invoices</button>
        </div>

        <div id="create" class="tabcontent">
            Invoice Creation Test
            <form action="create" method="GET" enctype="multipart/form-data">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="" required>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div id="summary" class="tabcontent">
            Summary of Invoices Test
        </div>
    </body>

    <script src="{{ url_for('static', filename='js/indexScript.js')}}"></script>
</html>