body {font-family: Verdana;}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .notification {
    background-color: #047cc4;
    text-align: center;
  }

  .dropdownbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdownbtn:hover, .dropdownbtn:focus {
    background-color: #2980B9;
  }

  .seasonDropdown{
    display: none;
    position: absolute;
    /* background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
  }

  .invoiceRow {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .seasonDropdown-content a:hover {background-color: #ddd;}

  .show{display:block;}

  td{
    text-align: center;
  }

  tr:hover {background-color: #D6EEEE;}

  td:hover {background-color: #F09440;}

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .sessionDay {
    border: #c21fba 3px solid;
  }

  .graphWrapper{
    height:500px;
  }